@page "/fetchdata"

@inject IVehiclesService _vehiclesService;
@inject IDriversService _driversService;
@inject ILocationsService _locationsService;

<PageTitle>Fetch Data</PageTitle>

<div>
    <button @onclick="@ToggleLocationsGrid">Locations</button>
    <button @onclick="@ToggleVehiclesGrid">Vehicles</button>
    <button @onclick="@ToggleDriversGrid">Drivers</button>
</div>

<div hidden="@displayDriversGrid">
</div>

<div hidden="@displayLocationsGrid">
</div>

<div hidden="@displayVehiclesGrid">
</div>

<div hidden="@displayDriversPopOut">
</div>

<div hidden="@displayLocationsPopOut">
</div>

<div hidden="@displayVehiclesPopOut">
</div>

@code {
    private bool displayDriversGrid = false;
    private bool displayDriversPopOut = false;
    private bool displayLocationsGrid = false;
    private bool displayLocationsPopOut = false;
    private bool displayVehiclesGrid = false;
    private bool displayVehiclesPopOut = false;

    IEnumerable<Vehicles> _vehicles { get; set; }
    IEnumerable<Drivers> _drivers { get; set; }
    IEnumerable<Locations> _locations { get; set; }

    public void OnInitilization()
    {
        _vehicles = _vehiclesService.GetAll();
        _drivers = _driversService.GetAll();
        _locations = _locationsService.GetAll();
    }

    public void ToggleDriversGrid()
    {
        displayDriversGrid = !displayDriversGrid;
    }

    public void ToggleLocationsGrid()
    {
        displayLocationsGrid = !displayLocationsGrid;
    }

    public void ToggleVehiclesGrid()
    {
        displayVehiclesGrid = !displayVehiclesGrid;
    }

    public void ToggleDriversPopOut()
    {
        displayDriversPopOut = !displayDriversPopOut;
    }

    public void ToggleLocationsPopOut()
    {
        displayLocationsPopOut = !displayLocationsPopOut;
    }

    public void ToggleVehiclesPopOut()
    {
        displayVehiclesPopOut = !displayVehiclesPopOut;
    }
}
